body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0rem;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 100%;
}

.loader-position {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader-background 0.01s;
  animation-fill-mode: forwards;
  z-index: 10000;
  animation-delay: 1.75s;
}

.loader-spinner-logo {
  border: 0.625rem #9356DC solid;
  border-top: 0.625rem solid #FF79DA;
  border-bottom: 0.625rem solid #99E2D0;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: loader 1200ms linear;
}

@keyframes loader-background {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  width: 100%;
  height: 2.8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo {
  height: 50%;
  font-family: "Shrikhand";
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

.local {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1rem;
  background-color: rgb(243, 243, 243);
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  margin-left: -1rem;
}
.local__icon {
  margin-right: 1rem;
}
.local__text {
  font-weight: 700;
}

.hero {
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);
}
.hero__title {
  margin: 0;
}
.hero__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}

.hero__button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  padding: 1.063rem 2.688rem;
  border-radius: 3.75rem;
  border: none;
  display: block;
  margin: 2.875rem auto auto auto;
  font-size: 1.1rem;
  box-shadow: 0.25rem 0.25rem 0.625rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-bottom: 2.5rem;
}

.hero__button:hover {
  opacity: 0.8;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 1rem rgba(222, 218, 218, 0);
  cursor: pointer;
}

.container {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.tuto {
  padding: 2rem 1rem;
}
.tuto__title {
  margin-top: 0;
}
.tuto__steps {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 1204px) {
  .tuto__steps {
    grid-template-columns: repeat(3, 1fr);
  }
}
.tuto__step {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
@media (min-width: 1204px) {
  .tuto__step {
    flex: 1;
    margin: 0;
    margin-left: 2rem;
  }
  .tuto__step:first-child {
    margin-left: 0.75rem;
  }
}
.tuto__step:first-child {
  margin-top: 0;
}
.tuto__step:last-child {
  margin-bottom: 0;
}
.tuto__step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.tuto .tuto__step:hover > .tuto__icon {
  color: #9356DC;
}
.tuto__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}
.tuto__icon:hover {
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 1204px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card__img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card__footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card__subtitle {
  margin: 0;
}
.card__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0rem solid;
  position: relative;
  padding: 0;
  cursor: pointer;
}
.card i {
  position: absolute;
  top: 10%;
  right: 0%;
}
.card .menu__like--bg {
  opacity: 0;
}
.card .menu__like--bg:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.4s ease-in-out;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.card__like {
  background-color: white !important;
}

.footer {
  background-color: #353535;
  width: 100%;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1.375rem 1.563rem;
  align-items: flex-start;
  gap: 1.5rem;
}
@media (min-width: 1204px) {
  .footer .container {
    flex-direction: row-reverse;
    gap: 6rem;
  }
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-right: 1.25rem;
}
.footer__list {
  list-style: none;
  padding: 0.15rem;
  margin: 0;
  gap: 0.438rem;
}
@media (min-width: 1204px) {
  .footer__list {
    display: flex;
    flex-direction: row;
  }
}
.footer__listElt {
  margin: 0.5rem 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.header--withBackArrow {
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: black;
}

.hero__img {
  width: 104%;
  height: 19rem;
  object-fit: cover;
}
@media (min-width: 1204px) {
  .hero__img {
    margin-left: 1.8rem;
    height: 23rem;
    width: 100%;
  }
}

.restaurant {
  width: 101%;
  background-color: #f6f6f6;
  display: inline-flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media (min-width: 1204px) {
  .restaurant {
    width: 73%;
    align-items: center;
  }
}

.restaurant__menu {
  width: 100%;
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  margin-top: -4rem;
}
@media (min-width: 1204px) {
  .restaurant__menu {
    margin-top: -2rem;
  }
}
.restaurant__menu_header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1204px) {
  .restaurant__menu_header {
    justify-content: center;
    width: 50%;
    gap: 2rem;
    margin-left: 14rem;
  }
}
.restaurant__menu__title {
  font-family: "Shrikhand", "cursive";
}

.menu_btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0rem solid;
  position: relative;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.menu_btn:hover::before {
  opacity: 1;
}
.menu_btn::before {
  opacity: 0;
  transition: 0.5s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}

.menu__like_R {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}

.menu_btn:hover .menu__like--noBg {
  opacity: 0;
}

.submenus {
  display: flex;
  flex-direction: column;
  width: 95%;
}
@media (min-width: 1204px) {
  .submenus {
    justify-content: center;
    width: 45%;
    margin-left: -3.1rem;
  }
}

.submenu {
  overflow: hidden;
  padding: 0 1rem;
}
@media (min-width: 1204px) {
  .submenu {
    width: 150%;
    margin-left: -5rem;
  }
}
.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 2s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.97em;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menuItem__confirmation {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}
.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__icon {
  color: #99E2D0;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

.delay-4 {
  animation-delay: 0.8s;
}

.delay-5 {
  animation-delay: 1s;
}

.delay-6 {
  animation-delay: 1.2s;
}

.delay-7 {
  animation-delay: 1.4s;
}

.delay-8 {
  animation-delay: 1.6s;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
